body {
  background-color: rgb(224, 224, 227);
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  background: rgb(196, 196, 196);
  border-radius: 10px 10px 0px 0px;
  width: 650px;
}

nav > ul {
  text-align: center;
}

nav ul li {
  border: 1px solid black;
  margin: 5px;
  list-style: none;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
  margin-bottom: 0px;
  border-bottom: 0;
  background: #d3d3d3;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}

nav .clickable:hover {
  background: yellow;
}

.selected {
  background-color: rgb(224, 224, 227);
}

article {
  clear: both;
  float: left;
  margin-top: 10px;
}

ul {
  padding: 0;
  white-space: nowrap;
}
